{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Heim Server</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/icon.png'%}">
        <!-- <link rel="shortcut icon" type="image/png" href="http://sstatic.net/stackoverflow/img/favicon.ico"> -->

        <!-- import stly from static folder -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <!-- import code from static folder => Does not work -->
        <style type="text/javascript" src="{%static 'js/main.js' %}"></style>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </head>

    <body>
        

        <!-- <header class="page-header">
            <nav>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link text-uppercase font-weight-bold">Home</a></li>
                    <li class="nav-item"><a href="/init_sensor/" class="nav-link text-uppercase font-weight-bold">Init Sensor</a></li>
                </ul>
            </nav>
        </header> -->

        <script>
            // script is here as importing the static script does not work.
            $(function () {
                // if scolled, add class active to navbar
                $(window).on('scroll', function () {
                    if ( $(window).scrollTop() > 10 ) {
                        $('.navbar').addClass('active');
                    } else {
                        $('.navbar').removeClass('active');
                    }
                });
            });
        </script>

        <!-- Navbar-->
        <header class="header">
            <nav class="navbar navbar-expand-lg fixed-top py-3">
                <div class="container"><a href="/" class="navbar-brand text-uppercase font-weight-bold">Temperature Automation</a>
                    <!-- Navbar as button if page too smal  -->
                    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
        
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <!-- List of Links -->
                            <li class="nav-item active"><a href="/" class="nav-link text-uppercase font-weight-bold">Home</a></li>
                            <li class="nav-item"><a href="/settings/" class="nav-link text-uppercase font-weight-bold">Settings</a></li>
                            <!-- <li class="nav-item"><a href="/admin/" class="nav-link text-uppercase font-weight-bold">Admin</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    
        <main class="container">
            <div class="container text-white">
                <!-- Konten -->
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>

</html>